* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1020px;

    font-size: 12px;
    font-family: 'Lato', sans-serif;
    line-height: 1;
    
}

header {
    height: 63px;
    padding: 15px 0;
    position: relative;
    background-color: #323232;
}

header:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 28px 45px 0px 45px;
    border-color: #323232 transparent transparent transparent;
    position: relative;
    left: calc(50% - 44px);
    left: -webkit-calc(50% - 44px);
    top: -2px;
}

nav {
    height: 100%;
    position: relative;
    
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

nav ul li {
    list-style: none;
    padding: 9px 5px 0;
}

nav ul li:nth-child(2n+1):after {
    content: "·";
    width: 1px;
    height: 1px;
    color: #e4e9eb;
    margin-left: 14px;
}

nav ul li:nth-child(2) {
    margin-right: 64px;
}

nav ul li:nth-child(3) {
    margin-left: 64px;
}

nav ul li a {
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
}

nav ul li a {
    color: #fff;
}

nav ul li a:hover {
    color: #2eb398;
}

/* nav ul li:first-child a {
    color: #2eb398;
} */

.triangle {
    position: relative;
    display: block;
    margin: -38px auto 0;
}

.hexagon-container {
    height: 721px;
    position: relative;
    padding-top: 88px;
    padding-left: 119px;
    width: 1020px;
    margin: 0 auto;
}

.line-top1 {
    width: 410px;
    height: 1px;
    background-color: #e4e9eb;
    position: absolute;
    top: 11px;
    left: 32px;
}

.line-top2 {
    width: 410px;
    height: 1px;
    background-color: #e4e9eb;
    position: absolute;
    top: 11px;
    right: 32px;
}

.line-hexagon1-left {
    width: 1px;
    height: 104px;
    background-color: #e4e9eb;
    position: absolute;
    top: 141px;
    left: 99px;
}

.line-hexagon1-right {
    width: 1px;
    height: 104px;
    background-color: #e4e9eb;
    position: absolute;
    top: 141px;
    right: 99px;
}

.line-hexagon3-left {
    width: 1px;
    height: 104px;
    background-color: #e4e9eb;
    position: absolute;
    top: 477px;
    left: 99px;
}

.line-hexagon3-right {
    width: 1px;
    height: 104px;
    background-color: #e4e9eb;
    position: absolute;
    top: 477px;
    right: 99px;
}

.hexagon {
    display: inline-block;
    width: 180px;
    height: 210px;
    margin-bottom: 5px;
    margin-right: 18px;
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
}

.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    visibility: hidden;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    visibility: visible;
    overflow: hidden;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.row-translate .hexagon {
    position: relative;
    top: -48px;
}

.row-translate {
    margin-left: -99px;
}

.row-native:not(:first-child) {
    margin-top: -97px;
}

.hexagon1-background {
    background-image: url(../img/Layer33@1X.png);
}

.hexagon2-background {
    background-image: url(../img/Layer31@1X.png);
}

.hexagon3-background {
    background-image: url(../img/Layer34@1X.png);
}

.hexagon4-background {
    background-image: url(../img/Layer35@1X.png);
    background-position: -20px -15px;
}

.hexagon5-background {
    background-image: url(../img/Layer36@1X.png);
}

.hexagon6-background {
    background-image: url(../img/Layer44@1X.png);
}

.hexagon7-background {
    background-image: url(../img/Layer37@1X.png);
}

.hexagon8-background {
    background-image: url(../img/Layer38@1X.png);
}

.hexagon9-background {
    background-image: url(../img/Layer39@1X.png);
}

.hexagon10-background {
    background-image: url(../img/Layer40@1X.png);
}

.hexagon11-background {
    background-image: url(../img/Layer41@1X.png);
}

.hexagon12-background {
    background-image: url(../img/Layer43@1X.png);
}

.hexagon13-background {
    background-image: url(../img/Layer42@1X.png);
}

.line-container-hexagon-button {
    width: 960px;
    height: 1px;
    background-color: #e4e9eb;
    position: absolute;
    top: 709px;
    left: 31px;
}

.info {
    height: 341px;
    background-color: #2eb398;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-article {
    width: 820px;
    height: 312px;
    font-family: 'Maven Pro', sans-serif;
    color: #d7fcf5;
    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
    display: flex;
    justify-content: flex-start;
}

.info-article h3 {
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: 400;
}

.img-person {
    overflow: hidden;
    height: 263px;
    width: 205px;
}

.info-person {
    height: 206px;
    width: 596px;
    align-self: center;
    padding-left: 13px;
    margin-top: -8px;
}

.info-person-work {
    color: #20816d;
    font-size: 18px;
    margin-bottom: 14px;
}

.info-person-story {
    font-size: 12px;
    margin-bottom: 25px;
    line-height: 20px;
    letter-spacing: 0;
    text-align: justify;
}

.hexagon-info-background {
    background-image: url(../img/Image@1X.png);
}

.hexagon-info {
    margin-top: 51px;
    margin-left: 19px;
}

.social ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.social ul li {
    list-style: none;
    width: 25px;
    height: 24px;
}

.icon-active {
    color: #03ac95;
    padding: 5px;
}

.icon-active:hover {
    background-color: #218f87;
}


.icon-facebook {
    background-color: #a5dbd4;
}

.icon-twitter {
    background-color: #6ccbbe;
}

.icon-gplus {
    background-color: #7ed0c5;
}

.icon-pinterest {
    background-color: #acddd7;
}

.icon-linkedin {
    background-color: #acddd7;
}

.icon-dribbble {
    background-color: #6dcbbe;
}



footer {
    height: 564px;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: relative;
    margin: 0 auto;

}

footer:before {
    content: '';
    width: 960px;
    height: 1px;
    background-color: #2b2b2b;
    position: absolute;
    top: 13px;
    left: 7%;
}

footer:after {
    content: '';
    width: 960px;
    height: 1px;
    background-color: #2b2b2b;
    position: absolute;
    bottom: 12px;
    left: 7%;
}

.form {
    width: 600px;
    padding-top: 62px;
    position: relative;
}

.form-name {
    font-family: 'Maven Pro', sans-serif;
    color: #e0e0e0;
    font-size: 30px;
    margin-bottom: 2px;
}

input {
    width: 580px;
    height: 40px;
    background-color: #454545;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
}

::-webkit-input-placeholder {
    color: #bebebe;
}

::-moz-placeholder {
    color: #bebebe;
}

:-moz-placeholder {
    color: #bebebe;
}

:-ms-input-placeholder {
    color: #bebebe;
}

textarea {
    width: 580px;
    height: 150px;
    background-color: #454545;
    color: #bebebe;
    padding: 10px;
    border: none;
    resize: none;
    margin-bottom: 16px;
}

fieldset {
    border: none;
}

.button {
    background-color: #2eb398;
    height: 37px;
    width: 90px;
    border: none;
    color: #d7fcf5;
    text-transform: uppercase;
    position: absolute;
    bottom: 65px;
    right: 20px;
}

.form p {
    font-size: 18px;
    color: #bebebe;
    margin-bottom: 20px;
    letter-spacing: 0.05em;
}

.footer-info {
    width: 185px;
    padding-top: 131px;
}

.footer-info-text {
    color: #bebebe;
    font-size: 12px;
    font-family: 'Myriad Pro', sans-serif;
    line-height: 21px;
    letter-spacing: 0.03em;
    margin-bottom: 39px;
    text-align: justify;
}

.footer-info p span {
    color: #e0e0e0;
}

.icon-mail,
.icon-phone,
.icon-location {
    color: #2eb398;
    padding-right: 3px;
    font-size: 14px;
}

.contact p {
    font-family: 'Lato', 'Mariad Pro', sans-serif;
    color: #bebebe;
    padding-bottom: 7px;
}